In [1]:
import pandas as pd
import numpy as np

# 12 数据拆分

`pandas.Series.str.slice(start, stop)`: 和切片一样，左开右闭。

In [2]:
df = pd.DataFrame(data=np.random.randn(5, 3), columns=list("ABC"))
df

          A         B         C
0  1.527933  1.000667 -0.152676
1 -1.463362 -0.409950  0.845998
2 -0.338109  1.410190  0.413910
3  0.397799 -0.346103  0.956951
4  0.851239 -0.207375  0.234587

In [3]:
df['A'] = df.A.abs()
df.A

0    1.527933
1    1.463362
2    0.338109
3    0.397799
4    0.851239
Name: A, dtype: float64

In [4]:
df['A'] = df.A.astype(str)
df['A']

0     1.5279332784870372
1     1.4633617791476639
2    0.33810944255895947
3     0.3977993999940166
4     0.8512387709234015
Name: A, dtype: object

In [5]:
df['A'].str.slice(0, 3)

0    1.5
1    1.4
2    0.3
3    0.3
4    0.8
Name: A, dtype: object

`pandas.Series.str.split(pat, n=-1, expand=False)`: 按照分隔符拆分。

- pat: 分隔符，默认为空格
- n: 分割n+1列，-1代表所有列
- expand: 是否展开为数据框，默认False, 一般设置为True

`pandas.Series.dt`: 按照时间属性拆分。dt对象有如下多种属性：

- second
- minute
- hour
- day
- month
- year
- weekday: 0是星期一，5是星期六, 6是星期日

 `pandas.Series.str.contains(pat, case=True, na=NaN)`: 关键词抽取
 
 - pat: 要包含的字符
 - case: 英文是否忽略大小写
 - na: 缺失值的填充方式，在过滤的场景下需设置为False，也就是缺失值返回False

比如上面的 df，可以使用`df.A.isnull()`函数抽取空值。

In [6]:
df.A.isnull()

0    False
1    False
2    False
3    False
4    False
Name: A, dtype: bool

数据范围抽取采用比较条件(>, <, ==, >=, <=, !=)。 还可以使用 `between(left, right, inclusive=True)`

In [10]:
df.B > 0

0     True
1    False
2     True
3    False
4    False
Name: B, dtype: bool

In [16]:
df.B.between(-0.01, 2, True)

0     True
1    False
2     True
3    False
4    False
Name: B, dtype: bool

# 13 数据标准化

0-1 标准化是最常用的数据标准化的方法。方法为：向量中的每个值与所在向量中的最小值得差，除以所在向量中的最大值和最小值得差。

`x* = (x - x.min) / (x.max - x.min)`。这样处理完之后最大值变成1，最小值变成0，其他介于0-1之间了。