In [20]:
from pyspark import SparkContext
import json

In [7]:
sc = SparkContext()

In [28]:
host = 'localhost'
table = 'student'
conf = {"hbase.zookeeper.quorum": host, "hbase.mapreduce.inputtable": table}
keyConv = "org.apache.spark.examples.pythonconverters.ImmutableBytesWritableToStringConverter"
valueConv = "org.apache.spark.examples.pythonconverters.HBaseResultToStringConverter"
hbase_rdd = sc.newAPIHadoopRDD("org.apache.hadoop.hbase.mapreduce.TableInputFormat",
                               "org.apache.hadoop.hbase.io.ImmutableBytesWritable",
                               "org.apache.hadoop.hbase.client.Result",
                               keyConverter=keyConv,
                               valueConverter=valueConv,
                               conf=conf)

In [29]:
count = hbase_rdd.count()
hbase_rdd.cache()

MapPartitionsRDD[66] at mapPartitions at SerDeUtil.scala:244

In [32]:
output = hbase_rdd.collect()
for (k, v) in output:
    print(k, v)

1 {"qualifier" : "age", "timestamp" : "1563325525969", "columnFamily" : "info", "row" : "1", "type" : "Put", "value" : "23"}
{"qualifier" : "gender", "timestamp" : "1563325507162", "columnFamily" : "info", "row" : "1", "type" : "Put", "value" : "F"}
{"qualifier" : "name", "timestamp" : "1563325498971", "columnFamily" : "info", "row" : "1", "type" : "Put", "value" : "Xueqian"}
2 {"qualifier" : "age", "timestamp" : "1563325550387", "columnFamily" : "info", "row" : "2", "type" : "Put", "value" : "24"}
{"qualifier" : "gender", "timestamp" : "1563325543423", "columnFamily" : "info", "row" : "2", "type" : "Put", "value" : "M"}
{"qualifier" : "name", "timestamp" : "1563325536262", "columnFamily" : "info", "row" : "2", "type" : "Put", "value" : "Weiliang"}