In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import Row

In [2]:
sc = SparkContext.getOrCreate()

In [3]:
spark=SparkSession.builder.getOrCreate()

In [4]:
rdd = sc.textFile("file:///home/shilinlee/workspace/shilinlee/blog/spark_python/dataframe/person.txt")

In [5]:
def f(x):
        rel = {}
        rel['name'] = x[0]
        rel['age'] = x[1]
        return rel
df = rdd.map(lambda line : line.split(',')).map(lambda x: Row(**f(x))).toDF()

In [6]:
df.show()

+---+-------+
|age|   name|
+---+-------+
| 29|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [7]:
# 必须注册为临时表才能供下面的查询使用
df.createOrReplaceTempView("people")

In [8]:
# 执行SQL查询
personsDF = spark.sql("select * from people")

In [9]:
personsDF

DataFrame[age: string, name: string]

In [10]:
personsDF.show()

+---+-------+
|age|   name|
+---+-------+
| 29|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [11]:
personsDF.rdd.map(lambda t : "Name:"+t[0]+","+"Age:"+t[1]).foreach(print)
"""
Name: 29,Age:Michael  
Name: 30,Age:Andy
Name: 19,Age:Justin 
"""

'\nName: 29,Age:Michael  \nName: 30,Age:Andy\nName: 19,Age:Justin \n'