In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

In [3]:
 df = spark.read.json("file:///home/shilinlee/workspace/shilinlee/blog/spark_python/dataframe/person.json")

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
# 打印模式信息
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
# 选择多列
df.select(df.name, df.age + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [7]:
# 条件过滤
df.filter(df.age > 20).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [8]:
# 分组聚合
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

In [9]:
# 排序
df.sort(df.age.desc()).show()

+----+-------+
| age|   name|
+----+-------+
|  30|   Andy|
|  19| Justin|
|null|Michael|
+----+-------+

In [10]:
# 多列排序
df.sort(df.age.desc(), df.name.asc()).show()

+----+-------+
| age|   name|
+----+-------+
|  30|   Andy|
|  19| Justin|
|null|Michael|
+----+-------+

In [11]:
# 对列进行重命名
df.select(df.name.alias("username"),df.age).show()

+--------+----+
|username| age|
+--------+----+
| Michael|null|
|    Andy|  30|
|  Justin|  19|
+--------+----+

In [12]:
# 保存为csv文件
"""
如果要输出文本文件，可以采用write.format(“text”)，但是，需要注意，
只有select()中只存在一个列时，才允许保存成文本文件，如果存在两个列，
比如select(“name”, “age”)，就不能保存成文本文件。
"""
df.select("name", "age").write.format("csv").save("file:///home/shilinlee/workspace/shilinlee/blog/spark_python/dataframe/newpeople.csv")

In [13]:
df.rdd.saveAsTextFile("file:///home/shilinlee/workspace/shilinlee/blog/spark_python/dataframe/newpeople.txt")